<div class="container">
  <h1>Nodes</h1>
  <app-messages></app-messages>
  <button type="button" class="btn-success btn btn-sm" [routerLink]="['/new-node']"><i class="fas fa-plus"></i> Add
  </button>
  <p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Type</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let node of nodes">
      <td><a [routerLink]="['/node', node.id]"><small>{{node.id}}</small></a></td>
      <td><a [routerLink]="['/node', node.id]">{{node.name}}</a></td>
      <td>{{node.type}}</td>
    </tr>
    </tbody>
  </table>
</div>
